location = /favicon.ico {
  log_not_found off;
  access_log off;
}

location = /robots.txt {
  log_not_found off;
  access_log off;
}

location ~* /\. {
  deny all;
}

location ~* /(?:uploads|files)/.*\.php$ {
  deny all;
}

# Don not use the cache for logged in users or recent commenter
if ($http_cookie ~* "comment_author|wordpress_[a-f0-9]+|wp-postpass|wordpress_no_cache|wordpress_logged_in|wp_woocommerce_[a-z0-9_]+|woocommerce_[a-z0-9]+") {
    set $skip_cache 1;
}
# Don not use the cache for admin pages
location /wp-admin {
  set $skip_cache 1;
}

try_files $uri $uri/ /index.php?$args;

# Add trailing slash to */wp-admin requests.
rewrite /wp-admin$ $scheme://$host$uri/ permanent;

location ~* \.(js|css|png|jpg|jpeg|gif|xml|txt|ico|pdf)$ {
  expires max;
}

gzip            on;
gzip_comp_level 6;
gzip_proxied    any;
gzip_types      text/plain application/xhtml+xml text/css application/xml application/xml+rss text/javascript application/javascript application/x-javascript;
